<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigData" type="xwcs.core.cfg.ConfigData, xwcs.core, Version=1.0.0.0, Culture=neutral" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Es.Logging" publicKeyToken="776b289507df5578" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE}  [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="c:/temp/log4net.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <ConfigData>
    <MainAppConfig>
      <StateData>
        <expiry></expiry>
        <path>c:/temp</path>
      </StateData>
      <DataLayout>
        <AllowLoadFromXml>Yes</AllowLoadFromXml>
      </DataLayout>
      <Admin>
        <DatabaseName>egaf_back</DatabaseName>
        <EntityLockDisabled>No</EntityLockDisabled>
      </Admin>
      <ExtraWayHTTPConnector>
        <BaseUrl>http://bo-httpxw.egaf.it:4854</BaseUrl>
        <Db>niterback</Db>
        <MaxFileSize>100000</MaxFileSize>
      </ExtraWayHTTPConnector>
      <Indesign>
        <CshpServerPort>13000</CshpServerPort>
        <LogFile>indesign.log</LogFile>
        <!--ScriptDir>C:/Users/Laco/AppData/Roaming/Adobe/InDesign/Version 8.0/it_IT/Scripts/Scripts Panel</ScriptDir-->
        <ScriptDir>{assets}/js</ScriptDir>
        <TempDir>{temp}/Indesign/Rtf</TempDir>
        <Socket encoding="ASCII" timeout="10" />
      </Indesign>
      <GridLayouts>
        <Groups>
          <Group type="iter_titles" prefix="Customs" path="customs">
            <Layouts>
              <Layout name="Layout1" description="Layout1" />
              <Layout name="Layout2" description="Layout2" />
              <Layout name="Layout3" description="Layout3" />
            </Layouts>
          </Group>
        </Groups>
      </GridLayouts>
    </MainAppConfig>
    <TestClass>
      <add key="ACL" value="localhost:4859:acl" />
      <add key="MAIN" value="localhost:4859:xdocwaydoc" />
    </TestClass>
  </ConfigData>

  <connectionStrings>
    <add name="AdminEntities" connectionString="metadata=res://*/model.admin.Admin.csdl|res://*/model.admin.Admin.ssdl|res://*/model.admin.Admin.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bo-mysql.egaf.it;user id=root;password=root;persistsecurityinfo=True;database=egaf_back&quot;" providerName="System.Data.EntityClient" />
    <add name="NiterDocEntities" connectionString="metadata=res://*/NiterDoc.csdl|res://*/NiterDoc.ssdl|res://*/NiterDoc.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bo-mysql.egaf.it;user id=root;password=root;persistsecurityinfo=True;database=niter&quot;" providerName="System.Data.EntityClient" />
    <add name="NiterTitlesEntities" connectionString="metadata=res://*/NiterTitles.csdl|res://*/NiterTitles.ssdl|res://*/NiterTitles.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=bo-mysql.egaf.it;user id=root;password=root;persistsecurityinfo=True;database=niter&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>


  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
