<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigData" type="xwcs.core.cfg.ConfigData, xwcs.core, Version=1.0.0.0, Culture=neutral" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE}  [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="c:/temp/log4net.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <ConfigData>
    <MainAppConfig>
      <StateData>
        <expiry></expiry>
        <path>c:/temp</path>
      </StateData>
      <DataLayout>
        <AllowLoadFromXml>No</AllowLoadFromXml>
      </DataLayout>
      <Admin>
        <DatabaseName>egaf_back</DatabaseName>
        <EntityLockDisabled>Yes</EntityLockDisabled>
      </Admin>
      <Indesign>
        <CshpServerPort>13000</CshpServerPort>
        <LogFile>indesign.log</LogFile>
        <!--ScriptDir>C:/Users/Laco/AppData/Roaming/Adobe/InDesign/Version 8.0/it_IT/Scripts/Scripts Panel</ScriptDir-->
        <ScriptDir>{assets}/xwcs.indesign/js</ScriptDir>
      </Indesign>
    </MainAppConfig>
    <TestClass>
      <add key="ACL" value="localhost:4859:acl" />
      <add key="MAIN" value="localhost:4859:xdocwaydoc" />
    </TestClass>
  </ConfigData>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>